<html>
<head>
	<meta charset="utf-8">
    <base href="/">
	<title>User Authentication</title>

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<script src="/assets/js/angular.min.js"></script>
	<script src="/assets/js/angular-resource.min.js"></script>
	<script src="/assets/js/angular-route.min.js"></script>
	<script src="/assets/js/ui-bootstrap.min.js"></script>
	
	<script src="/scripts/controllers/mainctrl.js"></script>
</head>
<body ng-app="mainModule">
	<div class="container">  
		<ui-view></ui-view>
	</div>
</body>
</html>
