<div id="map_canvas">
	<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
	<ui-gmap-markers models="marker" coords="'self'" icon="'icon'" options="marker.options">
	</ui-gmap-markers>
	</ui-gmap-google-map>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="card">
			<div class="card-header card-success">
				<h4 class="card-title">Location Name</h4>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="row">
						<div class="col-sm-6">	
							Tilt
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Pan
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Yaw
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							X-Acceleartion
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Y-Accelaration
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Z-Acceleration
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<div class="card-header card-success">
				<h4 class="card-title">Location Name</h4>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="row">
						<div class="col-sm-6">
							Tilt
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Pan
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Yaw
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							X-Acceleartion
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Y-Accelaration
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Z-Acceleration
						</div>
						<div class="col-sm-6 text-right">
							<p class="text-sm-center" class="text-sm-center">18</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>